body{

    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    color: #333;

}
/*Seletor de class*/
.cabecalho{
    margin-top: 2rem;
    padding: 0.6rem;
    display: flex;
    background-color: darksalmon;
}
/*Seletor de id*/
#nome{
    font-size: 3rem;
    text-align: center;
}
img{

    border-radius: 100%;
    position: absolute;
    right: 100px
}
.container{
    display: flex;
    padding: 2rem;
}
.menu{
    width: 30%;
    background-color:darksalmon
}
.conteudo{
    width: 70%;
    padding:2rem;
}
